section#foreign-students.foreign-students
  .container
    .row
      .col-md-6.col-md-push-6
        .info-panel
          h2.text-heading Иногородним
          p
            | Для иногородних студентов мы можем предложить размещение в университетской гостинице, которая находится  рядом с местом проведения обучения.
          p
            | Номера повышенной комфортности для деловых партнеров и гостей СПбПУ расположены на 2-м этаже общежития №15 по адресу: 
            strong Гражданский проспект, дом 28
            | .
          p В гостинице имеются блоки, состоящие из двух номеров с общими кухней и душем. 
      .col-md-6.col-md-pull-6
        img.hero-img.img-responsive(src='../images/hotel-1.jpg', alt='')
    .row
      .col-md-6
        .info-panel
          p
            | Предлагается размещение в одноместных и двухместных номерах со всеми удобствами и всем необходимым для комфортного проживания.
          p Стоимость проживания в номерах повышенной комфортности:
          ul
            li
              strong 1000 руб.
              |  с человека в сутки в двухместном номере
            li
              strong 1500 руб.
              |  с человека в сутки в одноместном номере (двухместном без подселения)
          a.btn.btn-ui(href='http://terp10.spbstu.ru/userfiles/files/pdf/brochure_hotel_imop.pdf', target='_blank') Подробнее
      .col-md-6
        div
          img.hero-img.img-responsive(src='../images/hotel-2.jpg', alt='')
section#price.price.price-bg
  .container
    .col-md-4.col-md-offset-4
      h2.text-heading Стоимость
    .row
      .col-md-8.col-md-offset-2.col-sm-8.col-sm-offset-2
        .prices
          .add-info
            | Благодаря специальной программе «Университетский Альянс SAP» стоимость участия для студентов значительно ниже, чем при обучении в учебных центрах SAP
          .pr-menu
            ul
              li.current(data-tab='box-01')
                .sect стоимость курса
              li(data-tab='box-02')
                .sect(title='Ранняя оплата за 30 дней до начала курса') оплата за 30 дней
          .desc
            #box-01.box.current
              .price-val
                | 21 500
                i.fa.fa-ruble
            #box-02.box
              .price-val
                | 19 800
                i.fa.fa-ruble
          .descript
            .info
              p
                | Оплата в кассе Университета без комиссии, принимаются к оплате банковские карты. Возможна оплата безналичным способом (для юридических лиц).
                br
                | 								Есть возможность оплатить через отделения Сбербанка (квитанция высылается по запросу) или любой интернет-банкинг.
              p
                em Курс проводиться только для студентов, аспирантов и сотрудников вузов.
              .title Для сотрудников СПбПУ предусмотрена специальная цена.
section.registration
  .container
    .row
      .col-md-6.call-to-action Стань успешным. Запишись на курс
      .col-md-6.text-center
        a.btn.btn-ui(href='#') Зарегистрироваться
section#questions.questions
  .container
    .row
      .col-md-4.col-md-offset-4
        h2.text-heading Вопросы
    #accordion.panel-group(role='tablist', aria-multiselectable='true')
      .panel
        #heading1.panel-heading(role='tab')
          .panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse1', aria-expanded='false', aria-controls='collapse1')  Какие требования предъявляются к участникам?
        .panel-collapse.collapse.collapse1(role='tabpanel', aria-labelledby='heading1')
          .panel-body
            p
              | Требования минимальны, достаточно уверенного владения компьютером и базового понимания процессов предприятия.
      .panel
        #heading2.panel-heading(role='tab')
          .panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse2', aria-expanded='false', aria-controls='collapse2')  Что дают студентам знания в области SAP, подтвержденные сертификатом?
        .panel-collapse.collapse.collapse2(role='tabpanel', aria-labelledby='heading2')
          .panel-body
            p
              | Прежде всего, наличие сертификата подтверждает компетентность, гарантирует уровень знаний и практических навыков, а также служит прекрасным стартом для изучения специализированных решений и компонентов SAP.
            p
              | Практически все мировые и многие отечественные компании используют в своей работе ERP-систему SAP. Знание продуктов SAP, подтвержденное сертификатом, и практические навыки работы с ними являются существенным преимуществом при приеме на работу. Учитывая, что компании ежегодно тратят огромные средства на обучение и сертификацию своих сотрудников по работе с программным обеспечением SAP, прием на работу уже подготовленных сотрудников представляет собой очевидный путь сокращения этих расходов.
            p
              | Владея основными навыками, выпускники быстрее включаются в работу, им не придётся тратить время на освоение довольно сложных программных средств SAP. Поэтому на новом рабочем месте они смогут больше внимания уделять своим профессиональным обязанностям, и их достижения будут выше, чем у коллег, которые еще только учатся работать с SAP.
      .panel
        #heading3.panel-heading(role='tab')
          .panel-title
            a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', data-target='.collapse3', aria-expanded='false', aria-controls='collapse3')  Куда может пойти работать выпускник, имеющий сертификат?
        .panel-collapse.collapse.collapse3(role='tabpanel', aria-labelledby='heading3')
          .panel-body
            p
              | Большое количество крупных компаний работают с программным обеспечением SAP. На текущий момент технологии SAP фактически являются стандартом корпоративных информационных систем для крупных предприятий, это примерно 49,9% рынка. Существует несколько направлений, где знание работы с SAP дает преимущества.
            p
              | Основными работодателями могут быть компании - клиенты SAP. Это крупные российские и зарубежные компании, которые используют решения SAP. Им требуются специалисты с основным образованием по профилю предприятия (энергетика, инженерия, финансы, техника и технология, машиностроение, авиастроение и т.п.) и с дополнительными специализированными знаниями по использованию технологий SAP. Таких сотрудников гораздо легче обучать, они быстрее вливаются в коллектив и, соответственно, более выгодны для компании.
            p
              | Другая возможность - это компании-интеграторы, которые являются партнерами SAP и специализируются на продаже, настройке и внедрении продуктов SAP. Им нужны специалисты во всех областях от продаж до разработки программных решений на базе SAP. Курс TERP10 является базовым для консультантов по продуктам SAP, продавцов, внедренцев и других специалистов, работающих в области ERP-систем. Для программистов и разработчиков курс также окажется полезным для понимания общей работы системы.
            p
              | Также и сама компания SAP, которая имеет представительства в Москве, Санкт-Петербурге, Екатеринбурге, Новосибирске, странах СНГ и на Украине, в связи с активным развитием постоянно набирает новых профессиональных сотрудников.