doctype html
html(lang='ru')
  head
    include ./templates/header/head.jade
  body
  include ./templates/header/contact.jade
  include ./templates/header/head-bottom.jade
  include ./templates/main/form.jade
  include ./templates/main/corusel.jade
  include ./templates/main/testimonials.jade
  include ./templates/main/program.jade
  include ./templates/main/stud-reg.jade
  include ./templates/footer/contacts.jade
  script.
  include ./templates/footer/scripts.jade
